####################################
# Operating Systems
####################################

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# macOS
.DS_Store
.AppleDouble
._*
.Spotlight-V100
.Trashes

# Linux
*~
.directory
.Trash-*


####################################
# IDEs
####################################

# VS Code
.vscode/

# JetBrains IDEs (IntelliJ, PyCharm, WebStorm, Rider, etc.)
.idea/
*.iml

# Visual Studio
.vs/
*.suo
*.user
*.sln.docstates
bin/
obj/


####################################
# Node.js
####################################

node_modules/
npm-debug.log*
yarn-debug.log*
dist/
build/


####################################
# Python
####################################

__pycache__/
*.py[cod]
venv/
.venv/


####################################
# .NET
####################################

[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/


####################################
# Custom Rules (Required)
####################################

*.log
temp/
*.secret